<div id="<%= dom_id category %>">
  <p>
<<<<<<< HEAD
    <strong>Name:</strong>
    <%= category.name %>
=======
    <strong>Category name:</strong>
    <%= category.category_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= category.title %>
>>>>>>> 1a0d1db5c10aba70877b8d486c9c5332127faf45
  </p>

</div>
